<!doctype html>
<html>
  <body>
    <h1> This is a title </h1>
    <p> 
        This is a paragraph. And the following is a link at 
        <a href="http://coderwave.com"> Coderwave </a>
    </p>
    <p> You can also show images, like the following one </p>
    <img src="http://placekitten.com/g/200/200" />
  </body>
</html>