<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Student Management</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="/_bootswatch.scss"/>
  </head>

  <body>
    <header>
      <h1>Student Management</h1>
    </header>
    <%= erb :nav%>
    <section>
      <%= yield %>
    </section>
  </body>
  </html>