<form action="/login" method="POST">
<label for="username"> Username:</label>
<input id="username" type="text" name="login[username]"/>

<label for="password">Password:</label>
<input id='password' type="password" name="login[password]"/>

<input type="submit" value="Login"/>
</form>
